body{
font-family:Arial;
margin:0;
background:#fafafa;
}

header{
background:#e63946;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#333;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:url('https://images.unsplash.com/photo-1555992336-03a23c7b20ee') center/cover;
color:white;
text-align:center;
padding:120px 20px;
}

.btn{
background:#e63946;
padding:12px 25px;
color:white;
text-decoration:none;
border-radius:5px;
}

.menu{
padding:40px;
text-align:center;
}

.menu-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:220px;
}

.card img{
width:100%;
border-radius:10px;
}

.about{
padding:40px;
text-align:center;
background:#f1f1f1;
}

.contact{
padding:40px;
text-align:center;
}

.whatsapp{
background:#25D366;
color:white;
padding:12px 20px;
border-radius:25px;
text-decoration:none;
}

footer{
background:#222;
color:white;
text-align:center;
padding:20px;

  img {
  max-width: 100%;
  height: auto;
  display: block;
}
}
.whatsapp-float{
position:fixed;
bottom:25px;
right:25px;
z-index:100;
}
